@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #000304;
    width: 100%;
    height: 100%;
    font-family: 'Nunito', sans-serif;
}

body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

body::-webkit-scrollbar
{
    width: 15px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top,
                        color-stop(0.32, #f174fc),
                        color-stop(0.50, #ac2eb8),
                        color-stop(0.75, #640c6c));
}

nav li, nav a{
    text-decoration: none;
    color: #000304;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
}

header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color:#f7f7f7;
}

nav{
    display: inline-block;
    width: 60%;
}

.logo-1, .logo-2, .logo-3{
    cursor: pointer;
}

header ul{
    list-style: none;
    align-content: center;
    float: right;
    align-items: center;
}

nav li{
    display: inline-block;
    padding-right: 30px
}

header ul li a, .v-line, .logo{
    transition: all 0.2s ease-in 0s;
}

header ul li a:hover{
    color: #ff4508;
}

/* Dropdown Button */
.dropbtn{
    background-color: #f7f7f7;
    color: black;
    padding: 16px;
    font-size: 27px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
}
  
.dropbtn:hover, .dropbtn:focus{
    background-color: #f1f1f1;
}

.dropdown{
    position: relative;
    display: inline-block;
    right: 4%;
}
  
.dropdown-content{
    display: none;
    position: absolute;
    right: 10%;
    background-color: #f1f1f1;
    min-width: 450px;
    font-size: 22px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover{
    background-color: #ddd
}
  
.show{
    display:block;
}

.slides{
    position: relative;
    width: 100%;
    height: auto;
}

.slides img{
    height: 100%;
    width: 100%;
}

.sign{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-image: radial-gradient(ellipse 50% 35% at 50% 50%, #649e9e, transparent);
    transform: translate(-50%, -50%);
    letter-spacing: 2;
    left: 50%;
    top: 50%;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 7em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #00fefe,
                -0.2rem 0.1rem 1rem #00fefe, 0.2rem 0.1rem 1rem #00fefe,
                 0 -0.5rem 2rem #28fafa, 0 0.5rem 3rem #28fafa;
    animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink{
    0%, 22%, 36%, 75%{
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #9cf7f7,
                    -0.2rem 0.1rem 1rem #9cf7f7, 0.2rem 0.1rem 1rem #9cf7f7,
                     0 -0.5rem 2rem #28fafa, 0 0.5rem 3rem #28fafa;
    }

    28%, 33%{
        color: #65f6f7;
        text-shadow: none;
    }

    82%, 97% {
        color: #03fcfe;
        text-shadow: none;
    }
}

.flicker{
    animation: shine 2s forwards, blink 3s 2s infinite;
}
  
.fast-flicker{
    animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine{
    0%{
        color: #019494;
        text-shadow: none;
    }

    100%{
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #9cf7f7,
                    -0.2rem 0.1rem 1rem #9cf7f7, 0.2rem 0.1rem 1rem #9cf7f7,
                     0 -0.5rem 2rem #28fafa, 0 0.5rem 3rem #28fafa;
    }
}

@keyframes flicker{
    from{
        opacity: 1;
    }
  
    4%{
        opacity: 0.9;
    }
  
    6%{
        opacity: 0.85;
    }
  
    8%{
        opacity: 0.95;
    }
  
    10%{
        opacity: 0.9;
    }
  
    11%{
        opacity: 0.922;
    }
  
    12%{
        opacity: 0.9;
    }
  
    14%{
        opacity: 0.95;
    }
  
    16%{
        opacity: 0.98;
    }
  
    17%{
        opacity: 0.9;
    }
  
    19%{
        opacity: 0.93;
    }
  
    20%{
        opacity: 0.99;
    }
  
    24%{
        opacity: 1;
    }
  
    26%{
        opacity: 0.94;
    }
  
    28%{
        opacity: 0.98;
    }
  
    37%{
        opacity: 0.93;
    }
  
    38%{
        opacity: 0.5;
    }
  
    39%{
        opacity: 0.96;
    }
  
    42%{
        opacity: 1;
    }
  
    44%{
        opacity: 0.97;
    }
  
    46%{
        opacity: 0.94;
    }
  
    56%{
        opacity: 0.9;
    }
  
    58%{
        opacity: 0.9;
    }
  
    60%{
        opacity: 0.99;
    }
  
    68%{
        opacity: 1;
    }
  
    70%{
        opacity: 0.9;
    }
  
    72%{
        opacity: 0.95;
    }
  
    93%{
        opacity: 0.93;
    }
  
    95%{
        opacity: 0.95;
    }
  
    97%{
        opacity: 0.93;
    }
  
    to{
        opacity: 1;
    }
}

.about{
    position: relative;
    width: 100%;
    height: 600px;
    background-color: white;
}

.about-text{
    position: relative;
    float: left;
    width: 50%;
    top: 50%;
    height: 450px;
    padding-top: 150px;
    transform: translateY(-50%);
    background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #000, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 80px;
    font-family: 'Nunito', sans-serif;
    animation: reveal 3000ms ease-in-out forwards 200ms,
             glow 2500ms linear infinite 2000ms;
}

@keyframes reveal {
    80%{
      letter-spacing: 8px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
  @keyframes glow {
    40% {
      text-shadow: 0 0 8px #000;
    }
  }
}

.info{
    position: relative;;
}

.info-head{
    position: relative;
    width: 40%;
    margin-left: 5%;
    top: 50%;
    float: left;
    color: black;
    font-size: 23px;
    padding-top: 8%;
    text-align: justify;
}

.mybtn{
    position: fixed;
    display: none;
    bottom: 20px;
    right: 30px;
    width: 60px;
    height: 60px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #640c6c;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 60px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.mybtn i{
    padding-top: 5px;
}


.mybtn:hover{
    background-color:#a0042c;
}

.events{
    position: relative;
    width: 100%;
    height: 1700px;
    background-color: white;
    font-size: 30px;
}

.events h1{
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    color: black;
    padding-top: 30px;
    font-size: 50px;
}

.col, .first-col, .second-col{
    width: 100%;
    margin: auto;
}

.first-col{
    position: relative;
    padding-top: 15px;
    height: 750px;
}

.second-col{
    position: relative;
    height: 750px;
}

.price{
    position: relative;
    width: 30%;
    float: left;
    height: 675px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px #cbd6cb;
    transition: box-shadow 0.5s ease;
    overflow: auto;
    font-family: 'Nunito', sans-serif;
}

.price:hover{
    box-shadow: 2px 2px 2px 2px #cbd6cb,
                -2px -2px 2px 2px #cbd6cb;
}

.event-1, .event-2, .event-3{
    margin-left: 2.4%;
    margin-right: 0;
}

.price h3{
    font-size: 29px;
    padding-top: 15px;
}

.price ul{
    list-style: none;
}

.price i{
    color: #640c6c;
    padding-right: 10px;
}

.price ul li{
    padding: 8px 10px 8px 0;
    font-size: 22px;
}

.price p{
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    text-align: justify;
}

.rs p{
    text-align: center;
}

.price ul span{
    color: black;
}

.bt-rs{
    position: absolute;
    top: 85%;
    width: 100%;
    align-content: center;
    padding-top: 10px;
}

.bt{
    padding-top: 6px;
}

.bt button{
    position: relative;
    width: 50%;
    height: 60px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.btn{
    border: 0;
    outline: none;
    border-bottom: 1px solid #717571;
    border-radius: 10px;
    background: none;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    transition: box-shadow 0.5s ease ;
}

.btn:hover{
    box-shadow: 0 2px 2px 1px #717571;
}

.event-4, .event-5{
    margin-top: 1%;
}

.event-4{
    margin-left: 18%;
    margin-right: 5%;
}

.tour{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
}

.tour img{
    width: 100%;
    height: 100%;
}

.wrapper{
    left: 50%;
    top: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    position: absolute;
	text-align: center;
}

.wrapper h1{
    color: #fff;
    font-size: 92px;
    font-family: "ubuntu";
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(to right, #4a4747 10%, #949191 40%, #fffcfc 90%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
    display: inline-block;
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

.virtual-button{
    position: absolute;
    left: 50%;
    bottom: 13%;
    transform: translateX(-50%);
    width: 200px;
    height: 120px;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: 0;
    background: none;
    border-radius: 10px;
    border-bottom: 4px solid #717571;
    transition: all 0.5s ease;
    cursor: pointer;
}

.virtual-button:hover{
    border-bottom: 2px solid #717571;
    box-shadow: 0 2px 2px 2px #717571,
                0 -2px 2px 2px #717571,
                2px 0 2px 2px #717571,
                -2px 0 2px 2px #717571;
}

.speakers{
    position: relative;
    width: 100%;
    height: 1750px;
    background-color: white;
}

/*Heading of the div speakers*/

.speaker-head{
    text-transform: uppercase;
    font-size: 40px;
    padding-top: 20px;
    font-family: 'Nunito', sans-serif;
}

.speakers-col .speakers-first, .speakers-second{
    width: 100%;
    margin: auto;
}

.speakers-first{
    position: relative;
    height: 800px;
}

.speakers-second{
    position: relative;
    height: 800px;
}

.speaker-img{
    width: 90%;
    height: 300px;
}

.speaker{
    position: relative;
    width: 26%;
    float: left;
    height: 700px;
    line-height: 27px;
    transition: all 0.5s ease;
    overflow: auto;
    justify-content: center;
}

.speaker:hover{
    box-shadow: 0 15px 10px -5px #bdb2b1;
}

.speaker-1, .speaker-2{
    margin-top: 1%;
}

.speaker-1{
    margin-left: 22%;
    margin-right: 5%;
}

.speaker-3, .speaker-4, .speaker-5{
    margin-left: 5.5%;
}

.speaker-name{
    font-size: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
}

.speaker-desc{
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

.speaker p{
    font-weight: normal;
}

.contact{
    position: relative;
    width: 100%;
    height: 600px;
    background-color: black;
    text-align: center;
    color: white;
}



.quick{
    position: relative;
    width: 30%;
    height: 500px;
    float: left;
}

.stay{
    font-size: 22px;
    position: relative;
    background-color: black;
    float: left;
    width: 30%;
    height: 500px;
}

.address{
    position: relative;
    float: left;
    width: 30%;
    height: 500px;
}

.quick, .stay, .address{
    margin-left: 2%;
    margin-top: 3%;
}

.address-sec{
    position: relative;
    height: 250px;
}

.chair{
    position: relative;
    height: 250px;
}

.quick ul li{
    list-style: none;
    padding-top: 10px;
}

.quick li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.5s ease;
}

.quick li a:hover{
    color: #ff4508;
}

.stay ul{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.stay ul li{
    list-style: none;
    display: inline-block;
}

.stay .connect-us{
    font-size: 35px;
}

.contact i{
    padding: 20px;
    transition: color 0.5s ease-in;
    color: white;
}

.contact i:hover{
    color: #ff4508;
}

.address ul li{
    list-style: none;
    padding-top: 10px;
    font-size: 20px;
}

.chair{
    line-height: 40px;
}

.chair p{
    font-size: 20px;
}

@media (max-width: 960px){
    .contact{
        height: 1000px;
    }

    .quick{
        width: 90%;
        margin-left: 4.5%;
    }

    .stay{
        width: 90%;
        margin-left: 4.5%;
    }

    .address{
        width: 90%;
        margin-left: 4.5%;
    }

    .quick{
        height: 200px;
    }

    .stay{
        height: 120px;
    }
}

@media (min-width: 970px) and (max-width: 1280px){
    .speakers{
        height: 2400px;
    }

    .speakers-second{
        height: 1500px;
    }

    .speaker{
        width: 35%;
    }

    .speaker-1{
        margin-left: 12.22%;
    }

    .speaker-3{
        margin-left: 12.22%;
        margin-right: 5%;
        margin-bottom: 2%;
    }

    .speaker-4{
        margin-left: 0;
        margin-bottom: 2%;
    }

    .speaker-5{
        margin-top: 2%;
        margin-left: 33.33%;
        margin-bottom: 1%;
    }
}

@media (min-width: 776px) and (max-width: 969px){
    .speakers{
        height: 2400px;
    }

    .speaker{
        width: 44%;
    }

    .speakers-second{
        height: 1500px;
    }

    .speaker-1, .speaker-2{
        margin-left: 4%;
        margin-right: 0;
    }

    .speaker-3, .speaker-4{
        margin-bottom: 2%;
        margin-right: 0;
        margin-left: 4%;
    }

    .speaker-5{
        margin-top: 3%;
        margin-left: 30%;
    }

    .speaker-head{
        font-size: 40px;
    }

    .speaker-name{
        font-size: 25px;
    }

    .speaker-desc{
        font-size: 16px;
        font-weight: normal;
    }
}

@media (min-width: 550px) and (max-width:775px){
    .speakers{
        height: 3700px;
    }

    .speaker{
        width: 52%;
    }

    .speaker-img{
        width: 75%;
        height: 250px;
    }

    .speakers-first{
        height: 1460px;
    }

    .speakers-second{
        height: 2150px;
    }

    .speaker-1, .speaker-2, .speaker-3, .speaker-4, .speaker-5{
        margin-left: 22%;
        margin-bottom: 2%;
    }

    .speaker-2{
        margin-top: 3%;
    }

    .speaker-head{
        font-size: 36px;
    }

    .speaker-name{
        font-size: 22px;
    }

    .speaker-desc{
        font-size: 15px;
        font-weight: 500;
    }
}

@media (max-width: 549px){
    .speakers{
        height: 3750px;
    }

    .speaker{
        width: 70%;
    }

    .speaker-img{
        width: 75%;
        height: 220px;
    }

    .speakers-first{
        height: 1470px;
    }

    .speakers-second{
        height: 2180px;
    }

    .speaker-head{
        font-size: 32px;
    }

    .speaker-name{
        font-size: 19px;
    }

    .speaker-desc{
        font-size: 14px;
        font-weight: 500;
    }

    .speaker-1, .speaker-2, .speaker-3, .speaker-4, .speaker-5{
        margin-left: 16%;
    }

    .speaker-1, .speaker-3, .speaker-4, .speaker-5{
        margin-bottom: 4%;
    }
}

@media (min-width: 660px) and (max-width:1000px){
    .wrapper{
        top: 40%;
    }

    .virtual-button{
        bottom: 8%;
        height: 100px;
        width: 160px;
        font-size: 38px;
        border-radius: 40px;
        border: 2px solid #717571;
    }
}

@media (min-width: 550px) and (max-width:659px){
    .wrapper{
        top: 30%;
    }

    .wrapper h1{
        font-size: 50px;
    }

    .virtual-button{
        height: 65px;
        width: 120px;
        font-size: 30px;
        color: white;
        border: 1px solid #717571;
        border: 0;
        background-image: linear-gradient(to right, #ad2863, #cf6d99);
    }

    .virtual-button:hover{
        border: 0;
        box-shadow: 0px 1px 2px #cf6d99;
    }
}

@media (max-width:549px){
    .wrapper{
        top: 27%;
    }

    .wrapper h1{
        font-size: 47px;
    }

    .virtual-button{
        height: 50px;
        width: 110px;
        bottom: 9%;
        font-size: 27px;
        color: white;
        border: 0;
        background-image: linear-gradient(to right, #ad2863, #cf6d99);
    }

    .virtual-button:hover{
        border: 0;
        box-shadow: 0px 1px 2px #cf6d99;
    }
}

@media (min-width: 1170px) and (max-width: 1350px){
    .events{
        height: 1800px;
    }

    .first-col, .second-col{
        height: 800px;
    }
    
    .price{
        height: 750px;
    }
}

@media (min-width: 840px) and (max-width: 1169px){
    .events{
        height: 2500px;
    }

    .events h1{
        font-size: 42px;
    }

    .first-col{
        height: 1550px;
    }

    .second-col{
        height: 800px;
    }

    .price{
        width: 40%;
        height: 750px;
    }

    .price h3{
        font-size: 30px;
    }

    .event-1, .event-4{
        margin-left: 8%;
    }

    .event-3{
        margin-left: 30%;
        margin-top: 3.5%;
    }

    .event-4, .event-5{
        margin-top: 3.5%;
    }

    .bt-rs{
        top: 88%;
    }
}

@media (min-width: 520px) and (max-width: 839px){
    .events{
        height: 3900px;
    }

    .events h1{
        font-size: 38px;
    }

    .price{
        width: 70%;
        height: 725px;
    }

    .price h3{
        font-size: 26px;
    }

    .first-col{
        height: 2250px;
    }

    .second-col{
        height: 1500px;
    }

    .event-1, .event-2, .event-3, .event-4, .event-5{
        margin-left: 15%;
    }

    .event-2, .event-3{
        margin-top: 3.5%;
    }

    .event-4{
        margin-bottom: 2.5%;
    }

    .bt button{
        font-size: 18px;
    }

    .btn{
        background-image: linear-gradient(to right, #ad2863, #cf6d99);
        color: white;
    }

    .bt-rs{
        top: 88%;
    }
}

@media (max-width: 519px){
    .events{
        height: 3850px;
    }

    .events h1{
        font-size: 34px;
    }

    .price{
        width: 90%;
        height: 730px;
    }

    .price h3{
        font-size: 26px;
    }

    .price p{
        font-size: 16px;
    }

    .first-col{
        height: 2250px;
    }

    .second-col{
        height: 1500px;
    }

    .event-1, .event-2, .event-3, .event-4, .event-5{
        margin-left: 5%;
    }

    .event-2, .event-3{
        margin-top: 3.5%;
    }

    .bt-rs{
        top: 87%;
    }

    .event-4{
        margin-bottom: 2.5%;
    }

    .bt button{
        font-size: 16px;
    }

    .btn{
        background-image: linear-gradient(to right, #ad2863, #cf6d99);
        color: white;
    }

}

@media (min-width: 810px) and (max-width: 1050px){
    .about-text{
        width: 40%;
        top: 45%;
    }

    .info-head{
        width: 50%;
    }
}

@media (min-width: 600px) and (max-width: 809px){
    .about{
        height: 750px;
    }

    .about-text{
        margin-top: 5%;
        width: 100%;
        height: 240px;
        top: 20%;
        padding-top: 50px;
        font-size: 60px;
    }

    .info-head{
        width: 80%;
        margin-left: 9%;
        font-size: 22px;
        padding-top: 0;
    }
}

@media(max-width: 599px){
    .about{
        height: 830px;
    }

    .about-text{
        margin-top: 5%;
        width: 100%;
        height: 240px;
        top: 17%;
        padding-top: 50px;
        font-size: 50px;
    }

    .info-head{
        width: 80%;
        margin-left: 9%;
        font-size: 20px;
        padding-top: 0;
    }
}

@media (max-width: 1220px){
    nav{
        display: none;
    }
}


@media (max-width: 776px){
    .logo-1{
        display: none;
    }

    .logo-3{
        padding-left: 13px;
    }

    .logo-2{
        padding-left: 5px;
    }

    .dropdown{
        padding-left: 13px;
    }

    .dropdown-content{
        font-size: 18px;
        min-width: 450px;
        overflow: hidden;
    }
}

@media (min-width: 1220px){
    .dropdown{
        display: none;
    }
}
